@charset "utf-8";
/* CSS Document */

body{
	background-image: url(Images/sunlight_hitting_earth-1920x1200.jpg)
	padding: 0;
	margin:0;
	overflow-y:scroll;
	fontfamily: arial;
	font-size:18px;
	height: 100px;
	width: 100%;
	background-image: url(Images/tr.jpg);
}
#formwrapper { width:960px; background-color:#099;
margin:0 auto 2em auto; padding:4em 0 2em 0;}

#footer{width:960px; height:10 px; background-color:#222; color:#099; margin:1em 0 0 0; padding:0 0 0 0; text-align:center;}


#head{width:960px; margin-bottom:2em; margin-left:1em;}

