
/*#nav_wrapper{
	width: 960px;
	margin: 0 auto;
	text-align:left;
}*/

#nav{
	background-color: #222;
	z-index: 150;
	margin-bottom:2em;
}


#nav ul{
	list-style-type:none;
	padding: 0;
	margin: 0;
	position: relative;
	z-index:150;
}

#nav ul li
{
	display:inline-block;
}
#nav ul li:hover{
	background-color: #333;
}

#nav ul li img{
	vertical-align: middle;
	padding: left;
	
}
#nav ul li a,visited{
	color: #CCC;
	display: block;
	padding: 15px;
	text-decoration:none;
}
	
#nav ul li a:hover{
	color:#CCC;
	text-decoration:none;
}

#nav ul li:hover ul{
	display:block;
}

#nav ul ul{
	display: none;
	position:absolute;
	background-color: #333;
}

#nav ul ul li{
	display: inline-block;
}
 #nav ul ul ul li{
	 display:block;
	position:relative;
 } 
 
#nav ul ul li a,visited{
	color:#ccc;
}

#nav ul ul li a:hover{
	color: #099;
}

#outline{
	border: 5px solid #222;
	border-top:0px;
	margin-left:-5px;
	min-width: 250px;
	min-height:250px;
}

#outline1{
	border: 5px solid #222;
	border-top:0px;
	margin-left:-5px;
	min-width: 350px;
	min-height:520px;
}